body
{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
h1,h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
h3
{
    color: crimson;
}
span
{
    color: purple;
}
.cuadro
{
    background-color: orange;
}
.resaltado
{
    color: red;
}
#azul
{
    color: blue;
}