.Caja{
    width: 30%;
    margin: auto;
    margin-top: 30px;
    background-color: teal;
    text-align: center  ;
    padding: 5px;
}
#resultado{
    background-color:white;
    margin-top: 1px;
    width:340px;
    padding: 4px;
    font-size: 25px;    
}
button{
    margin: 1px;
    padding: 15px 25px;
    width: 20%;
    font-size: 100%;
}
.ac{
    padding: 15px 82px;
}
.igual{
    padding: 15px 125px
}