<ion-header>
  <ion-toolbar>
    <ion-title>cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">C.I.</ion-label>
          <ion-input type="number" [(ngModel)]="citaMedica.ci"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Dia</ion-label>
          <ion-input type="number" [(ngModel)]="citaMedica.dia"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Doctor</ion-label>
          <ion-input [(ngModel)]="citaMedica.doctor"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Descripcion</ion-label>
          <ion-input [(ngModel)]="citaMedica.descripcion"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button shape="round" (click)="nuevo()">Nuevo</ion-button>
  <ion-button shape="round" (click)="guardar()">Guardar</ion-button>
  <ion-button shape="round" (click)="consultar()">Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()">Eliminar</ion-button>

  

  <ion-grid>
    <ion-row *ngFor="let item of citasMedica">
      <ion-col size="3">
        <ion-item color="primary">
          <ion-label position="fixed">{{item.ci}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.doctor}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.dia}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="fixed">{{item.descripcion}}</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>  
  </ion-grid>
  


</ion-content>