body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/loginImagen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/Cabecera3.png ) no-repeat;
    padding: 80px;
    text-align: center;
    background-size: cover;
}
/*navegacion*/
nav >a{
    color:black;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    position: absolute;
    top: 17%;
    left: 37%;
    transform: translate(0%,100%); 
}
.box {
    margin: 20px auto;
    width: 70%;
    padding: 1% 5% ;
    border: 1px;    
    background: rgba(500,500,500,.5);
    margin-left: 50% 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
