body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/loginImagen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/Cabecera3.png ) no-repeat;
    padding: 80px;
    text-align: center;
    background-size: cover;
}
/*navegacion*/
nav >a{
    color:black;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    position: absolute;
    top: 17%;
    left: 37%;
    transform: translate(0%,100%); 
}

.box {
    margin: 20px auto;
    width: 30% ;
    padding: 0.5% 5% ;
    border: 1px;    
    background: rgba(500,500,500,.7);
    margin-left: 50% 50%;
}
.box h1{
    color: #009688;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.box input[type = "textname"],.box input[type = "textcorreo"],.box input[type = "texttelf"]{
    border: 1px solid #009688;
    padding:  3px 2px;
    width: 100%;
    outline: none;
    color: black;
    margin: 5px;
}
.box div{
    font-size: 12px;
}
textarea{
    border: 1px solid #009688;
    padding:  3px 1px;
    width: 100%;
    height: 200px;
    outline: none;
    color: black;
    margin: 10px; 
}
.box input[type = "textname"]:focus,.box input[type = "password"]:focus{
    border-color:black;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #2196F3;
    padding:  8px 1px;
    width: 100px;
    outline: none;
    color:#2196F3;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2196F3;
    color: white;
}
