body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/loginImagen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/Cabecera3.png ) no-repeat;
    padding: 80px;
    text-align: center;
    background-size: cover;
}
/*navegacion*/
nav >a{
    color:black;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    position: absolute;
    top: 17%;
    left: 37%;
    transform: translate(0%,100%); 
}
.subcabecera{
    background: white;
    padding: 0.1% 0.1%; 
}
/*MODIFICAR PAGINA DEL USUARIO*/
.titulo{
    position: absolute;
    left: 40%;
}
.boxCitas,.boxSeguimiento,.boxRecomendacion{
    display: inline-block;
    margin: 8% 32px;
    position: relative;
    right: -10%;
}
.txtimagen{
    background-color: white;
}
.boxCitas .capa{
    display: inline-block;
    margin: 8% 32px;
    position: relative;
    right: -10%;
    background: rgba(6, 200, 243, 0.7);
}

/*pagina de CITAS*/
.parametros {
    margin: 5px 300px;
    background: rgba(255,255,255,.4);

    
}
.descripcion{
    text-align: center;
}
.recetario{
    margin: 0px 300px;
}
.contenido{
    margin: 20px 250px;
    background: rgba(255,255,255,.7);
}
td{
    padding: 0px 20px;
}
textarea{
    width: 80%;
    height: 50px;
}
.selector{
    width: 100%;
    height: 23px;
}
.boton{
    height: 50px ;
    width: 100px;
}
.volver{
    border: 0;
    display: block;
    text-align: center;
    border: 1px solid #2196F3;
    padding:  8px 1px;
    width: 100px;
    outline: none;
    color:#2196F3;
    transition: 0.25s;
    cursor: pointer;

}
.volver:hover{
    background: #2196F3;
    color: white;
    
}

/*OTRA PAGINA*/
.parametros2 .td{
    padding: 0px 20px;
}

#izquierda{
    float: left;
    background: rgba(255,255,255,.4);
    margin: 0px 150px;
}
#derecha{
    float: right ;
    background: rgba(255,255,255,.4);
    margin: 0px 150px;
}
.datos{
    padding: 0px 20px;
}
/*.boxCitas{
    position: absolute;
    right:10%;
    top: 50%;
    background-color: turquoise;
    border: 1px blue solid;
}

.boxSeguimiento{
    position: absolute;
    left: 10%;
    top: 50%;
    background-color: turquoise;
    border: 1px blue solid;   
}
.boxRecomendacion{
    position: absolute;
    left: 40%;
    top: 50%;
    background-color: turquoise;
    border: 1px blue solid;  
}*/