body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/loginImagen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:url(../Multimedia/Cabecera3.png ) no-repeat;
  padding: 80px;
  text-align: center;
  background-size: cover;
}
/*navegacion*/
nav >a{
  color:black;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover{
  text-decoration: underline;
}
.cabecera nav{
  position: absolute;
  top: 17%;
  left: 37%;
  transform: translate(0%,100%); 
}
.subcabecera{
    background: white;
    padding: 0.1% 0.1%; 
}

/*Calendario*/
 
h2{
  position: absolute;
  left: 1%;
  padding: 50px;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-calendar: #1b1e22;
  --color-cell: #e3e3e3;
  --color-cell-disabled: #424649;
}

.root {
  position: relative;
  min-height: 80vh;
  padding: 0 15px;
  display: flex;
  left: 5%;
  align-items: center;
}

.calendar {
  padding: 20px 10px;
  background-color: var(--color-bg-calendar);
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;
}

.calendar__header {
  color: white;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.calendar .control {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.grid__header, .grid__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid__header {
  color: white;
  margin-bottom: 20px;
}

.grid__body {
  grid-auto-rows: 40px;
  color: var(--color-cell);
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__cell--gd {
  cursor: pointer;
}

.grid__cell--selected {
  color: var(--color-bg-calendar);
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
  color: var(--color-cell-disabled);
  cursor: not-allowed;
}
